* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
/* ====heading css starts ==== */
.heading-1 {
  background: #2c508f;
  text-align: center;
  background-image: linear-gradient(to right, #1765c9, #202020);
}
.heading-1 ul {
  display: inline-flex;
  padding: 0;
  margin: 0;
}
.heading-1 li a {
  color: #fff;
  text-decoration: none;
}
.heading-1 li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.heading-1 li i {
  margin: 12px;
}
.heading-1 li::before {
  /* content: ""; */
  border-left: 2px solid #fff;
}
.heading-1 li.li-h-1::before {
  content: "";
  border-left: none;
}
/* ====heading 1 css ends===== */

/* ====heading 2 cs starts==== */
.heading-2 {
  box-shadow: -1px 3px 11px 3px rgba(0 0 0/ 15%);
  border: 2px solid#2c508f;
  height: 5rem;
  background-color: #3e67af;
  background-image: linear-gradient(to right, #1368d2, #2c508f);
}

.heading-2 img {
  width: 280px;
  padding: 12px;
  display: none;
}

.heading-2 ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  nav.nav-shift {
    /* width: 80%; */
    /* margin: 0 auto; */
    /* background: #fff; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  /* flex-wrap: nowrap; */
  justify-content: flex-start;
}

.heading-2 li a {
  z-index: 1;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  font-style: initial;
  text-transform: uppercase;
  position: relative;
  animation: fill 0.75 ease;
  margin-top: 15px;
  font-weight: 500;
}

.heading-2 li {
  display: flex;
  list-style: none;
  margin: 0 2px;
}

.heading-2 li a:hover {
  color: #2c508f;
}

nav.nav-shift {
  /* width: 80%; */
  /* margin: 0 auto; */
  /* background: #fff; */
  display: flex;
  /* justify-content: flex-start; */
  flex-wrap: nowrap;
  flex-direction: row;
}
nav.nav-shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: "";
  color: transparent;
  background: #e5b759;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.nav-shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  animation: fill 0.3s linear forwards;
  -webkit-animation: fill 0.3s forwards;
  -moz-animation: fill 0.3s forwards;
}
nav.nav-shift ul li.active a {
  color: #2c508f;
  background: #e5b759;
}
/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 100%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 70%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
/* ==== heading 2 css ends==== */

/* =================== */
.logo-img img {
  width: 18rem;
  padding: 6px;
}
.company-details {
  display: flex;
  margin-left: 33px;
}
.header-info {
  padding: 8px;
  display: flex;
  margin-left: 20px;
  margin-top: 8px;
}
.header-info i {
  margin: 12px;
  font-size: 30px;
  color: #2c508f;
}
.header-info i::after {
  content: "";
  border-left: 2px solid #2c508f;
  margin-left: 12px;
}
.header-mail-call {
  color: #2a4d8b;
}
.header-mail-call a {
  text-decoration: none;
  color: #000;
}
.header-mail-call {
  font-size: 15px;
  font-weight: 500;
}
.header-info i.fa-solid.fa-phone {
  font-size: 26px;
}
.quote-btn button {
  border: 2px solid #e5b759;
  width: 10rem;
  padding: 8px;
  margin-top: 18px;
  border-radius: 8px;
  background: #e5b759;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
.quote-btn button:hover {
  background: transparent;
  transition: 0.5s ease;
}
.quote-btn {
  text-align: end;
}
.heading-1 i {
  border: 1px solid;
  padding: 4px;
  width: 29px;
  text-align: center;
}
.header-mail-call span {
  font-size: 18px;
}
.header-mail-call p {
  margin: 0;
}
.searchbar {
  text-align: end;
  margin-top: 34px;
}

.searchbar input {
  background: transparent;
  border: navajowhite;
  border-bottom: 2px solid #ffffff91;
  text-align: end;
  color: #fff;
  width: 10rem;
}
.searchbar input::placeholder {
  color: #ffffff91;
}
.searchbar i {
  color: #fff;
  margin: 0 4px;
  font-size: 20px;
}
/* =======banner color========= */
section.banner-part {
  position: relative;
  height: 80%;
}
.carousel-item.banner-element img {
  height: 50rem;
  object-fit: cover;
  background-color: hwb(0 0% 100% / 0.4);
}

.carousel-item.banner-element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hwb(213.71deg 10.59% 48.24% / 49%);
}
/* =========text slider flip========== */
.text-flip {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: absolute;
  top: 25rem;
  right: 25rem;
  z-index: 1;
  color: #fff;
}
.changebox {
  margin: 0 5px;
  color: #ff5722;
  overflow: hidden;
  transition: 0.5s;
  white-space: nowrap;
}
/* ========company services css start========= */
.services-img i {
  font-size: 3rem;
  color: #fff;
}
.company-services-box {
  display: flex;
  position: relative;
  margin: 2rem;
  margin-left: 14px;
}
.service-info span {
  color: #e5b759;
  font-size: 26px;
  font-weight: 500;
}
.service-info {
  margin-left: 30px;
  text-align: justify;
}
.service-info::before {
  content: '';
  height: 8rem;
  border-left: 4px solid #deaa6d;
  margin: 12px;
  display: inline-flex;
  position: absolute;
  left: 58px;
}

.services-box-wrapper {
  background: #1a5096;
}
section.company-services {
  /* background: #1a5096; */
  height: 20rem;
  position: absolute;
  top: 58rem;
  z-index: 1;
  right: 7rem;
}
.service-info p {
  color: #fff;
}
section.about-good-men-moving {
  margin-top: 14rem;
}
.img-good-men-moving img {
  width: 100%;
  object-fit: cover;
}

.img-good-men-moving img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hwb(213.71deg 10.59% 48.24% / 49%);
}

.about-gmm-info span {
  color: #83bfed;
  font-size: 18px;
  font-weight: 500;
  line-height: 4;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.about-gmm-info h2 {
  color: #0c3e65;
  font-family: poppins, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.about-gmm-info {
  margin-left: 1rem;
}

.about-gmm-info p {
  color: #222222bd;
}