* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
/* ====heading css starts ==== */
.heading-1 {
  background: #2c508f;
  text-align: center;
  background-image: linear-gradient(to right, #1765c9, #202020);
}
.heading-1 ul {
  display: inline-flex;
  padding: 0;
  margin: 0;
}
.heading-1 li a {
  color: #fff;
  text-decoration: none;
}
.heading-1 li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.heading-1 li i {
  margin: 12px;
}
.heading-1 li::before {
  /* content: ""; */
  border-left: 2px solid #fff;
}
.heading-1 li.li-h-1::before {
  content: "";
  border-left: none;
}
/* ====heading 1 css ends===== */

/* ====heading 2 cs starts==== */
.heading-2 {
  box-shadow: -1px 3px 11px 3px rgba(0 0 0/ 15%);
  border: 2px solid#2c508f;
  height: 5rem;
  background-color: #3e67af;
  background-image: linear-gradient(to right, #1368d2, #2c508f);
}

.heading-2 img {
  width: 280px;
  padding: 12px;
  display: none;
}

.heading-2 ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  nav.nav-shift {
    /* width: 80%; */
    /* margin: 0 auto; */
    /* background: #fff; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  /* flex-wrap: nowrap; */
  justify-content: flex-start;
}

.heading-2 li a {
  z-index: 1;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  font-style: initial;
  text-transform: uppercase;
  position: relative;
  animation: fill 0.75 ease;
  margin-top: 15px;
  font-weight: 500;
}

.heading-2 li {
  display: flex;
  list-style: none;
  margin: 0 2px;
}

.heading-2 li a:hover {
  color: #2c508f;
}

nav.nav-shift {
  /* width: 80%; */
  /* margin: 0 auto; */
  /* background: #fff; */
  display: flex;
  /* justify-content: flex-start; */
  flex-wrap: nowrap;
  flex-direction: row;
}
nav.nav-shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: "";
  color: transparent;
  background: #e5b759;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.nav-shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  animation: fill 0.3s linear forwards;
  -webkit-animation: fill 0.3s forwards;
  -moz-animation: fill 0.3s forwards;
}
nav.nav-shift ul li.active a {
  color: #2c508f;
  background: #e5b759;
}
/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 100%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 70%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
/* ==== heading 2 css ends==== */

/* =================== */
.logo-img img {
  width: 18rem;
  padding: 6px;
}
.company-details {
  display: flex;
  margin-left: 33px;
}
.header-info {
  padding: 8px;
  display: flex;
  margin-left: 20px;
  margin-top: 8px;
}
.header-info i {
  margin: 12px;
  font-size: 30px;
  color: #2c508f;
}
.header-info i::after {
  content: "";
  border-left: 2px solid #2c508f;
  margin-left: 12px;
}
.header-mail-call {
  color: #2a4d8b;
}
.header-mail-call a {
  text-decoration: none;
  color: #000;
}
.header-mail-call {
  font-size: 15px;
  font-weight: 500;
}
.header-info i.fa-solid.fa-phone {
  font-size: 26px;
}
.quote-btn button {
  border: 2px solid #e5b759;
  width: 10rem;
  padding: 8px;
  margin-top: 18px;
  border-radius: 8px;
  background: #e5b759;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
.quote-btn button:hover {
  background: transparent;
  transition: 0.5s ease;
}
.quote-btn {
  text-align: end;
}
.heading-1 i {
  border: 1px solid;
  padding: 4px;
  width: 29px;
  text-align: center;
}
.header-mail-call span {
  font-size: 18px;
}
.header-mail-call p {
  margin: 0;
}
.searchbar {
  text-align: end;
  margin-top: 34px;
}

.searchbar input {
  background: transparent;
  border: navajowhite;
  border-bottom: 2px solid #ffffff91;
  text-align: end;
  color: #fff;
  width: 10rem;
}
.searchbar input::placeholder {
  color: #ffffff91;
}
.searchbar i {
  color: #fff;
  margin: 0 4px;
  font-size: 20px;
}
/* =======banner color========= */
section.banner-part {
  position: relative;
  height: 80%;
}
.carousel-item.banner-element img {
  height: 50rem;
  object-fit: cover;
  background-color: hwb(0 0% 100% / 0.4);
}

.carousel-item.banner-element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hwb(213.71deg 10.59% 48.24% / 49%);
}
/* =========text slider flip========== */
.text-flip {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: absolute;
  top: 25rem;
  right: 25rem;
  z-index: 1;
  color: #fff;
}
.changebox {
  margin: 0 5px;
  color: #ff5722;
  overflow: hidden;
  transition: 0.5s;
  white-space: nowrap;
}
/* ========company services css start========= */

.company-services-box {
  text-align: center;
}

.services-box-wrapper {
  box-shadow: 0px 0px 10px rgba(0 0 0 / 15%);
  background: #fff;
  justify-content: end;
}


section.company-services {height: 20rem;position: absolute;top: 58rem;z-index: 1;right: 7rem;/* background: #fff; *//* box-shadow: 0px 0px 10px rgba(0 0 0 / 15%); */}

.services-img i {
  font-size: 2rem;
  padding: 10px 0;
}

.service-info span {
  color: #e5b759;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 0;
}

.service-info p {
  /* line-height: 2; */
  letter-spacing: 1.1px;
  font-weight: 500;
  color: #222222bd;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ======about good men moving css starts==== */
section.about-good-men-moving {
  margin: 14rem 0 5rem 0;
}
.img-good-men-moving img {
  width: 100%;
  object-fit: cover;
}
.img-good-men-moving img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hwb(213.71deg 10.59% 48.24% / 49%);
}
span.good-men-moving {
  color: #83bfed;
  font-size: 18px;
  font-weight: 500;
  line-height: 4;
  letter-spacing: 2px;
  word-spacing: 2px;
}
h2.good-men-h2 {
  color: #0c3e65;
  font-family: poppins, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.about-gmm-info {
  margin-left: 1rem;
}
.about-gmm-info p {
  color: #222222bd;
}
/* ================= */
.about-box {
  display: inline-flex;
  margin: 14px 30px 14px 0;
}
.about-box i {
  font-size: 30px;
  margin-right: 8px;
  color: #83bfed;
}
.about-icon {
  margin-top: 16px;
}
.about-box h3 {
  font-family: poppins, sans-serif;
  color: #0c3e65;
  font-weight: 700;
}
.about-gmm-info ul li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2;
  word-spacing: 1.1px;
  letter-spacing: 1px;
}
.about-gmm-info ul li::before {
  content: "\2713\0020";
  margin-right: 6px;
  font-weight: 600;
  color: #83bfed;
}
.about-gmm-info ul {
  margin: 0;
  padding: 0;
}
button.about-btn {
  font-family: "poppins", Sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 1.1px;
  word-spacing: 1.1px;
  background: #e5b759;
  color: #000;
  padding: 7px 25px;
  border: 2px solid #e5b759;
  margin-top: 3rem;
  transition: 0.3s ease;
}
button.about-btn:hover {
  background: transparent;
  color: #0c3e65;
  transition: 0.3s ease;
}
/* =========why choose good men moving css========= */
p.good-man-moving-p {
  line-height: 2;
  letter-spacing: 1.1px;
  font-weight: 500;
  color: #222222bd;
  /* margin-top: 74px; */
}
section.choosen-part {
  padding: 3rem 0 5rem 0;
  background-position: bottom;
  animation: 4s linear 0s infinite bp;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.141' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M69.212 40H46.118L34.57 20 46.118 0h23.094l11.547 20zM57.665 60H34.57L23.023 40 34.57 20h23.095l11.547 20zm0-40H34.57L23.023 0 34.57-20h23.095L69.212 0zM34.57 60H11.476L-.07 40l11.547-20h23.095l11.547 20zm0-40H11.476L-.07 0l11.547-20h23.095L46.118 0zM23.023 40H-.07l-11.547-20L-.07 0h23.094L34.57 20z'  stroke-width='1' stroke='hsla(0, 0%, 95%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-92,-128)' fill='url(%23a)'/></svg>");
}
@keyframes bp {
  from {
    background-position: 198px 0;
  }
  to {
    background-position: 0 198px;
  }
}
section.choosen-part img {
  width: 90px;
}
.choose-3-boxes h3 {
  color: #1c3c66;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: 1.1px;
  word-spacing: 1.1px;
  margin: 1rem 0;
}
.choose-up-right p {
  margin-top: 74px;
}
.call-us-now {
  color: #fff;
  background: #26559f;
  height: 250px;
  border-radius: 12px;
  position: relative;
  z-index: 1;
}

.call-us-now h4 {
  font-size: 33px;
  padding: 24px;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: 1px;
  word-spacing: 2px;
  padding-top: 60px;
}

.call-us-now a {
  text-decoration: none;
  color: #83bfed;
  font-size: 25px;
  padding: 24px;
  font-weight: 700;
  line-height: 1.1em;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.choose-3-boxes {
  margin-top: 2rem;
}
.call-us-now::after {
  content: "";
  border: 5px solid #26559f;
  height: 250px;
  width: 248px;
  position: absolute;
  top: 18px;
  right: -19px;
  border-radius: 12px;
  z-index: -1;
}
/* =========our services css starts========== */
.our-services-boxes img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 12px;
}
.our-services-boxes {
  background: #1c3c66a3;
  color: #83bfed;
  height: 100%;
  margin-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  transition: linear 0.3s;
}
.our-services-boxes h5 {
  font-size: 24px;
  text-align: center;
  padding: 0 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: 1.1px;
  word-spacing: 1.1px;
  margin: 1rem 0;
}
.our-services-boxes p {
  color: #fff;
  text-align: center;
  padding: 0 14px;
}
.our-services-boxes a {
  color: #fff;
  text-decoration: none;
  line-height: 2;
  letter-spacing: 1.1px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  transition: ease 0.3s;
}
.our-services-boxes:hover {background: #1c3c66;}
.our-services-boxes a i {
  background: #fff;
  color: #1c3c66;
  padding: 2px;
  border-radius: 10px;
  font-size: 14px;
}
section.goodmen-our-services {
  background-image: linear-gradient(rgb(31 45 48 / 61%), rgb(31 45 48 / 60%)), 
    url(../img/umzug-per-spedition.jpg);
  padding: 5rem 0;
  text-align: center;
  /* margin-top: 5rem; */
}
section.goodmen-our-services span {
  font-size: 22px;
}
section.goodmen-our-services h4 {
  color: #fff;
  font-size: 4rem;
  font-family: 'Poppins',sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
  line-height: 1.1em;
  word-spacing: 6.1px;
}
.our-services-boxes a:hover {
  font-size: 14px;
  color: #83bfed;
}
.our-services-btn button {
  font-family: "poppins", Sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 1.1px;
  word-spacing: 1.1px;
  background: #e5b759;
  color: #fff;
  padding: 7px 25px;
  border: 2px solid #e5b759;
  margin-top: 2rem;
  transition: ease 0.3s;
}
.our-services-btn button:hover {
  background: transparent;
}
/* =======testimonials css starts======= */
section.good-men-testimonials {
  text-align: center;
  padding: 4rem 0;
  animation: bp 4s linear infinite;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.141' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M69.212 40H46.118L34.57 20 46.118 0h23.094l11.547 20zM57.665 60H34.57L23.023 40 34.57 20h23.095l11.547 20zm0-40H34.57L23.023 0 34.57-20h23.095L69.212 0zM34.57 60H11.476L-.07 40l11.547-20h23.095l11.547 20zm0-40H11.476L-.07 0l11.547-20h23.095L46.118 0zM23.023 40H-.07l-11.547-20L-.07 0h23.094L34.57 20z'  stroke-width='1' stroke='hsla(0, 0%, 95%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-92,-128)' fill='url(%23a)'/></svg>");
}
.review-box h5 {
  color: #0c3e65;
  font-size: 4rem;
  font-family: 'Poppins',sans-serif;
  letter-spacing: 3px;
  font-weight: 700;
  line-height: 1.1em;
  word-spacing: 6.1px;
}
ul.testimonials-rating li {
  display: inline-flex;
  list-style: none;
  color: #E4B248;
  margin: 0;
  padding: 0;
}
ul.testimonials-rating {
  text-align: center;
  margin: 10px;
  padding: 0;
}
.review-box {
  position: relative;
}
/* =======review card slider css starts ===== */
.item.review-info p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0 10px;
  line-height: 1.55;
  /* text-align: left; */
  max-width: 32em;
  margin: auto;
}
.item.review-info {
  padding: 10px;
  /* border: 2px solid #e5b759; */
  border-radius: 10px;
  height: 250px;
  margin-top: 10px;
  color: #fff;
  background: #26559f;
}
.item.review-info h6 {
  font-size: 20px;
  margin: 10px 0;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.item.review-info i.fa-solid.fa-quote-right {
  font-size: 50px;
  color: #fff;
  padding: 4px 18px;
}